{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home|Review</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" />

  
</head>

<body class="bg-cover bg-center bg-fixed backk">
    <div class="bg bg-opacity-50 h-screen flex flex-col items-center justify-center">
  <div class="text-center mb-66">
        <h1 class="text-4xl font-bold tracking-tight text-900 sm:text-6xl">
          Review System
        </h1> 
  </div>
  <div class="mb-8"></div>
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-2xl mb-4 text-gray-800 font-semibold">These are API links :</h2>
</div>
  <div class="flex space-x-4">
    <a href="{% url 'generate_suggestions' %}" class="text-blue-500 hover:text-blue-700">Submit Rating</a>
    <a href="{% url 'generate_review' %}" class="text-blue-500 hover:text-blue-700">Generate Review</a>
    <a href="{% url 'login_api' %}" class="text-blue-500 hover:text-blue-700">Login API</a>
    <a href="{% url 'register_api' %}" class="text-blue-500 hover:text-blue-700">Register API</a>
    <a href="{% url 'logout_api' %}" class="text-blue-500 hover:text-blue-700">Logout API</a>
    
</div>
  </div>
  </body>
</html>
